body { 
    min-height: 80vh;
    background-position: center;
    background-image: url(https://images.pling.com/img/00/00/61/26/90/1536184/6337a702d0cd417543a99905b75ea7f0ce0332a8e2bd53fae2468b8e0ca92826bb0e.jpg);
}

div {
    background-color: black;
    position: absolute;
    bottom: 30px;
    right: 25px;
    opacity: 60%;
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    margin: 8px;
    opacity: 100%;
}